<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <meta name="description" content="@ViewBag.MetaDescription" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @RenderSection("Css", false)
</head>
<body>
    @*Navigation*@
    @Html.Partial("NavigationBar")
    <div class="container">
        @RenderBody()
    </div>
    @Scripts.Render("~/Scripts/jquery+bootstrap")
    @RenderSection("Scripts", false)
</body>
</html>