<div class="navbar navbar-default">
    <div class="container">

        <div class="navbar-header">
            <a class="navbar-brand" href="#">WatchWord</a>
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Materials <span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li>@Html.ActionLink("All materials", "All", "Materials")</li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li>@Html.ActionLink("Add material", "ParseMaterial", "Materials")</li>
                        }
                    </ul>
                </li>
                <li>
                    @using (Html.BeginForm("Search", "Navigation", FormMethod.Post, new { @class = "navbar-form navbar-left", role = "search" }))
                    {
                        <div class="input-group search-group">
                            @Html.TextBox("searchquery", "", new { id = "searchquery", @class = "form-control input-sm", placeholder = "Search" })
                            <div class="input-group-btn">
                                <button class="btn btn-default btn-sm" type="submit"><i class="glyphicon glyphicon-search"></i></button>
                            </div>
                        </div>
                    }
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">Registration <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Log in", "LogIn", "Account")</li>
                            <li>@Html.ActionLink("Sign up", "SignUp", "Account")</li>
                        </ul>
                    </li>
                }
                else
                {
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">@User.Identity.Name <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li>@Html.ActionLink("Log out", "LogOut", "Account")</li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>