@using WatchWord.Web.UI.Infrastructure.Helpers
@model WatchWord.Web.UI.Models.Account.SignUpViewModel

@{
    ViewBag.Title = "Sign Up";
}

<div class="row">
    <div class="col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
        @using (Html.BeginForm("SignUp", "Account", FormMethod.Post, new { @class = "registration-form sign-up" }))
        {
            <h2 class="text-center">Sign Up</h2>

            @Html.AntiForgeryToken()

            @Html.BootstrapValidationSummaryFor(true)

            <div class="form-group">
                @Html.LabelFor(n => n.Login, new { @class = "control-label" })
                @Html.TextBoxFor(n => n.Login, new { @class = "form-control" })
                @Html.ValidationMessageFor(n => n.Login)
            </div>

            <div class="form-group">
                @Html.LabelFor(n => n.Email, new { @class = "control-label" })
                @Html.TextBoxFor(n => n.Email, new { @class = "form-control" })
                @Html.ValidationMessageFor(n => n.Email)
            </div>

            <div class="form-group">
                @Html.LabelFor(n => n.Password, new { @class = "control-label" })
                @Html.PasswordFor(n => n.Password, new { @class = "form-control" })
                @Html.ValidationMessageFor(n => n.Password)
            </div>

            <div class="form-group">
                @Html.LabelFor(n => n.ConfirmPassword, new { @class = "control-label" })
                @Html.PasswordFor(n => n.ConfirmPassword, new { @class = "form-control" })
                @Html.ValidationMessageFor(n => n.ConfirmPassword)
            </div>

            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-info btn-block">
            </div>

            <div class="form-group text-center">
                @Html.ActionLink("I already have an account", "LogIn", null, new { @class = "btn btn-link" })
            </div>
        }
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/validation")
}