@using WatchWord.Domain.Entity
@model WatchWord.Web.UI.Models.Materials.MaterialViewModel
@{
    ViewBag.Title = Model.Name;
}

<div class="materialInfo">
    <!--Basic info-->
    <img src="@Model.Image" width="@Model.ImageWidth" height="@Model.ImageHeight" alt="Image" />
    <div><span id="material-name">@Model.Name</span></div>
    <div><span id="material-description">@Model.Description</span></div>
    <br />
    <!--Parsed words-->
    <div class="words">
        @foreach (var word in Model.Words)
        {
            string typeWord;
            switch (word.Type)
            {
                case VocabType.KnownWord:
                    typeWord = "known-word";
                    break;
                case VocabType.LearnWord:
                    typeWord = "learn-word";
                    break;
                case VocabType.NewWord:
                    typeWord = "new-word";
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
            <div class=@typeWord>
                <div class="translation">@word.Translation</div>
                <div class="origin">@word.Word</div>
            </div>
        }
    </div>
    <!--Save word-->
    <div id="save-word-modal" class="modal fade" role="dialog">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Chose action and translation for word: </h4>
                    <div id="radioGroup" class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary btn-sm active">
                            <input class="add-vocab-button" type="radio" value="InsertLearnWord" name="VocabAction"
                                   data-val-required="The Vocabulary field is required." data-val="true" checked="checked">
                            Add to Learning
                        </label>
                        <label class="btn btn-primary btn-sm">
                            <input class="add-vocab-button" type="radio" value="InsertKnownWord" name="VocabAction">
                            Add to Known
                        </label>
                    </div>
                </div>
                <div class="modal-body">
                    <div class="modal-buttons">
                    </div>
                </div>
                <div class="modal-footer">
                    <label class="other-actions">Other actions.</label>
                </div>
            </div>
        </div>
    </div>
    <!--For JS-->
    <div id="InsertLearnWord" route="@Url.Action("InsertLearnWord", "Vocabulary")"></div>
    <div id="InsertKnownWord" route="@Url.Action("InsertKnownWord", "Vocabulary")"></div>
    <div id="GetTranslations" route="@Url.Action("GetTranslations", "Vocabulary")"></div>
</div>
@section Scripts {
    <script>
        $(function () {

            /* Cache */

            var $saveWordHeader = $(".modal-title");
            var $saveWordButtons = $("#save-word-modal .modal-buttons");
            var $wordClickTrigger = null;

            /* Word click */

            $(".origin").on("click", function () {
                wordClick($(this));
            });

            function wordClick(trigger) {
                $wordClickTrigger = trigger;
                translateOrigin(trigger.text() || "");
            }

            /* Translate word */

            function translateOrigin(word) {
                $.ajax({
                    type: "GET",
                    url: $("#GetTranslations").attr("route"),
                    contentType: "application/json; charset=utf-8",
                    data: { word: word },
                    async: true,
                    cache: false,
                    success: function (data) {
                        prepareAndShowSaveWordWindow(word, data);
                    },
                    error: function (data) {
                        alert("error: " + data.statusText);
                    }
                });
            }

            function prepareAndShowSaveWordWindow(word, data) {
                prepareSaveWordWindow(word, data);
                $("#save-word-modal").modal("show");
            }

            function prepareSaveWordWindow(word, translations) {
                $saveWordHeader.html("Chose action and translation for word: " + word);
                $saveWordButtons.html("");
                for (var i = 0; i < translations.length; i++) {
                    var $newModalButton = $("<div>").addClass("modal-button");
                    var $newWord = $("<div>").addClass("origin btn-block save").html(translations[i]);
                    $newModalButton.append($newWord);
                    $saveWordButtons.append($newModalButton);

                    $newWord.on("click", function () {
                        insertWordToVocab(word, $(this).html());
                        $("#save-word-modal").modal('hide');
                    });
                }
            }

            /* Save word */

            function insertWordToVocab(word, translation) {
                var vocabAction = getVocabAction();

                $.ajax({
                    type: "POST",
                    dataType: "json",
                    url: $("#" + vocabAction).attr("route"),
                    contentType: "application/json; charset=utf-8",
                    data: JSON.stringify({ word: word, translation: translation }),
                    async: true,
                    cache: false,
                    success: function () {
                        updateWordHtml(vocabAction, word, translation);
                    },
                    error: function (data) {
                        alert("error: " + data.statusText);
                    }
                });
            }

            function updateWordHtml(vocabAction, word, translation) {
                var $word = $wordClickTrigger.parent();

                if (vocabAction === "InsertLearnWord") {
                    $word.removeClass().addClass("learn-word");
                } else if (vocabAction === "InsertKnownWord") {
                    $word.removeClass().addClass("known-word");
                }

                $word.children(".translation").html(translation);
            }

            function getVocabAction() {
                return $('.active > .add-vocab-button').attr('value');
            }
        });
    </script>
}