@model WatchWord.Web.UI.Models.Materials.MaterialViewModel
@{
    ViewBag.Title = Model.Name;
}

<div class="materialInfo">
    <!--Basic info-->
    <div class="table-layout">
        <div class="table-cell fixed-width-200">
            <img src="@Model.Image" width="@Model.ImageWidth" height="@Model.ImageHeight" alt="Image" />
        </div>
        <div class="table-cell">
            <div><span id="material-name">@Model.Name</span></div>
            <div><span id="material-description">@Model.Description</span></div>
            <br />
        </div>
    </div>
    <!--Parsed words-->
    <div class="words">
        @if (Model != null && Model.Words != null)
            {
                foreach (var word in Model.Words)
                {
                <div class="word">@word</div>
            }
        }
    </div>
</div>

@section Scripts {
    <script>
    </script>
}