@using WatchWord.Web.UI.Models.Materials
@using WatchWord.Web.UI.Infrastructure.Helpers

@model ParseMaterialViewModel
@{
    ViewBag.Title = "Parse material";
}

<div class="row">
    <div class="col-sm-offset-3 col-sm-6">
        @using (Html.BeginForm("ParseMaterial", "Materials", FormMethod.Post, new { enctype = "multipart/form-data", id = "file-form" }))
        {
            <!--Name input-->
            <div class="form-group">
                @Html.LabelFor(n => n.Name)
                @Html.TextBoxFor(n => n.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(n => n.Name)
            </div>
            <!--Image input-->
            <div class="form-group">
                @Html.LabelFor(n => n.Image, new { @class = "control-label" })
                @Html.TextBoxFor(n => n.Image, new { type = "file" })
                <div class="input-group ">
                    <input class="form-control" type="text" readonly placeholder="@Html.NameFor(n => n.Image)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary fileHandler"><span class="glyphicon glyphicon-folder-open"></span> Browse</button>
                    </span>
                </div>
                @Html.ValidationMessageFor(n => n.Image)
            </div>
            <!--Film or series radios-->
            <div class="form-group">
                <div id="radioGroup" class="btn-group" data-toggle="buttons">
                    @Html.BootstrapEnumRadioFor(n => n.Type)
                </div>
            </div>
            <!--Season and episod number inputs-->
            <div class="form-group" id="series">
                <div class="row">
                    <div class="col-xs-6">
                        @Html.LabelFor(n => n.SeasonNumber, new { @class = "control-label" })
                        @Html.TextBoxFor(n => n.SeasonNumber, new { @class = "form-control input", value = "1" })
                        @Html.ValidationMessageFor(n => n.SeasonNumber)
                    </div>
                    <div class="col-xs-6">
                        @Html.LabelFor(n => n.EpisodeNumber, new { @class = "control-label" })
                        @Html.TextBoxFor(n => n.EpisodeNumber, new { @class = "form-control input", value = "1" })
                        @Html.ValidationMessageFor(n => n.EpisodeNumber)
                    </div>
                </div>
            </div>
            <!--File input-->
            <div class="form-group">
                @Html.LabelFor(n => n.File, new { @class = "control-label" })
                @Html.TextBoxFor(n => n.File, new { type = "file" })
                <div class="input-group ">
                    <input class="form-control" type="text" readonly placeholder="@Html.NameFor(n => n.File)" />
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-primary fileHandler"><span class="glyphicon glyphicon-folder-open"></span> Browse</button>
                    </span>
                </div>
                @Html.ValidationMessageFor(n => n.File)
            </div>
            <!--Description input-->
            <div class="form-group">
                @Html.LabelFor(n => n.Description, new { @class = "form-label" })
                @Html.TextAreaFor(n => n.Description, new { @class = "form-control" })
            </div>
            <div class="form-group">
                <input type="submit" value="Send" class="btn btn-primary" />
            </div>
        }
    </div>
</div>

@section Scripts{
    @Scripts.Render("~/Scripts/validation")
    <script>
        $(".fileHandler").each(function () {
            var $formGroup = $(this).closest(".form-group");
            var $removeBtn = $("<button>").addClass("btn btn-primary removeBtn").text("Remove");
            var $file = $formGroup.find(":file");
            var $formControl = $formGroup.find(".form-control");

            function fileIsExist() {
                $formControl.val($file.val().match(/[^\\]*$/)[0]);
                if (!$formGroup.find(".removeBtn").length) {
                    $formGroup.find(".input-group-btn").prepend($removeBtn);
                }
            }

            if ($file.val()) {
                fileIsExist();
            }

            $(this).on("click", function () {
                $file.click();
            });

            $file.on("change", function () {
                var isValid = $("#file-form").validate().element(this);
                if (isValid) {
                    fileIsExist();
                }
            });

            $formGroup.find(".input-group-btn").on("click", ".removeBtn", function () {
                $file.val("");
                $formGroup.find(".removeBtn").remove();
                $formGroup.find(".form-control").val("");
            });
        });

        var defaultValue = "Film";

        function toggleSeries(value) {
            var $series = $("#series");
            if (value === defaultValue)
                $series.hide();
            else
                $series.show();
        }

        toggleSeries($("#radioGroup :checked").val());

        $("#radioGroup label").on("click", function () {
            var value = $(this).find(":radio").val();

            toggleSeries(value);
        });
    </script>
}