@model WatchWord.Web.UI.Models.Materials.MaterialViewModel
@{
    ViewBag.Title = "Save material";
}

<div class="materialInfo">
    <!--Basic info-->
    <img src="@Model.Image" width="@Model.ImageWidth" height="@Model.ImageHeight" alt="Image" />
    <div><span id="material-name">@Model.Name</span></div>
    <div><span id="material-description">@Model.Description</span></div>
    <br />

    <button class="btn btn-primary" onclick="goBack()">Back</button>
    @using (Html.BeginForm("Save"))
    {
        <input type="submit" value="Save" class="btn btn-success" />
    }

    <!--Parsed words-->
    <div class="words">
        @foreach (var word in Model.Words)
        {
            <div class="word">@word</div>
        }
    </div>
</div>

@section Scripts {
    <script>
        function goBack() {
            window.history.back();
        }
    </script>
}