@model WatchWord.Web.UI.Models.Materials.SaveMaterialViewModel
@{
    ViewBag.Title = "Save material";
}

<div class="saveInfo">
    <img src="@Model.Image" width="@Model.ImageWidth" height="@Model.ImageHeight" alt="@Model.Name" />
    <h2>@Model.Name</h2>
    @if (!string.IsNullOrWhiteSpace(Model.Description))
            {
        <h3>@Model.Description</h3>
    }
    @Html.ActionLink("Back", "ParseMaterial", null, new { @class = "btn btn-primary" })
    @using (Html.BeginForm("Save"))
            {
        <input type="submit" value="Save" class="btn btn-success" />
    }
    <ul class="words">
        @foreach (var word in Model.Words)
        {
            <li class="word">@word</li>
        }
    </ul>
</div>
