@using WatchWord.Domain.Entity
@model WatchWord.Web.UI.Models.Materials.MaterialViewModel
@{
    ViewBag.Title = "Save material";
}

<div class="materialInfo">
    <!--Basic info-->
    <img src="@Model.Image" width="@Model.ImageWidth" height="@Model.ImageHeight" alt="Image" />
    <div><span id="material-name">@Model.Name</span></div>
    <div><span id="material-description">@Model.Description</span></div>
    <br />

    <button class="btn btn-primary" onclick="goBack()">Back</button>
    @using (Html.BeginForm("Save"))
    {
        <input type="submit" value="Save" class="btn btn-success" />
    }

    <!--Parsed words-->
    <div class="words">
        @foreach (var word in Model.Words)
        {
            string typeWord;
            switch (word.Type)
            {
                case VocabType.KnownWord:
                    typeWord = "known-word";
                    break;
                case VocabType.LearnWord:
                    typeWord = "learn-word";
                    break;
                case VocabType.NewWord:
                    typeWord = "new-word";
                    break;
                default:
                    throw new ArgumentOutOfRangeException();
            }
            <div class=@typeWord>
                <div class="translation">@word.Translation</div>
                <div class="origin">@word.Word</div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        function goBack() {
            window.history.back();
        }

        $(function () {
            function contextMenuClick(key, options) {
                var word = options.$trigger.html() || "";
                var m = "clicked: " + key + ", " + options.selector + ", " + word;
                window.console && console.log(m) || alert(m);
            }

            $.contextMenu({
                selector: ".origin",
                trigger: "left",
                callback: contextMenuClick,
                items: {
                    "deleteWord": { name: "Delete word from material" }
                }
            });
        });
    </script>
}